@import url("https://fonts.googleapis.com/css?family=Raleway:300,500,700");

$standardPadding: 20px;
$backgrHeader: #c0eea9;
$backgrDark: #97d279;

@mixin text {
  max-width: 700px;
  text-align: center;
}